<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BotEntities" connectionString="metadata=res://*/Bot.csdl|res://*/Bot.ssdl|res://*/Bot.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=..\Bot\Bot.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>